*{
    padding: 0;
    margin: 0;
    box-sizing: border-box    ;
}
body 
{
height: 100vh;
display: flex;
flex-direction: column;
font-family: "Helvetica Neue";
}
body>div{
    margin: auto;
}
.button{
   
    display :inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none ;
    outline: none;
    color: #fff;
    padding: 12px 48px  ;
    border-radius: 50px;
    cursor: pointer;
    min-width: 100px;
    transition: opacity 0.5 ease ;
}
.button:hover{
    opacity: 0.8;
}
.button+.button{
    margin-left: 16px ;
}
.button--success{
    background-color: #71be34;

}
.button--wran 
{
background-color: #ffb702;
}
.button--danger{
    background-color: #ff623d;

}
.button--disabled{
    opacity: 0.5 !important;
    cursor: default;
}
.button--size-l{
    padding: 16px 56px;

}
.button--size-s{
    padding: 12px 40px ;
}